/* --- RESETS --- */
body, h1, h2, p, textarea, pre, .right {
  margin: 0;
  padding: 0;
}

textarea, 
pre {
  outline: 0;
  border: 0;
}


/* --- STYLING BEGINS--- */
body {
  font-family: 'Quicksand', sans-serif;
  color: white;
  overflow: hidden;
}

h1 {
  font-family: 'Federo', sans-serif;
  font-size: 5.5rem;
}

h2 {
  color: #aaa;
  font-size: 1.5rem;
}

/* --- TEXTAREA  --- */
textarea {
   margin-top: 3rem; 
  /* outline: none; */
  /* box-sizing: border-box; */
  width: 100%; 
  height: 50vh;
  color: #fff;
  background: black;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  resize: none;
}


/* --- LAYOUT --- */
.main-container {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
} 

.left {
  flex: 1;
  background: black;
  padding: 3rem;
  display: flex;
  flex-direction: column;  
}

.right {
  flex: 3;
  /* background: gray; */
  padding: 0;
  margin: 0;
  position: relative;
}

#canvas {
    background-color: none;  
  /*  border: 1px solid black;  */
}

footer {
  display: flex;
  justify-content: CENTER;
  flex: 1;
}

footer div {
  align-self: flex-end;
  text-align: center;
}

/* --- LINK STYLING --- */
a {
  color: #aaa;
  text-decoration: none; 
}

a:hover {
  color: #ddd;
}

.download a { 
  display: none; 
  color: #eee;
}

.download .visible {
  display: inline;
}

/* --- STYLE PLACEHOLDER TEXT --- */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #ddd;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #ddd;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ddd;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: #ddd;
}

svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}